{{#link-to 'company' company.id}}
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{company.image}}" class="image">
      <h5>{{company.name}}</h5>
    </div>
  </div>
{{/link-to}}
