<div class="back">
  <img src="assets/images/car.jpg" class="head">
</div>
{{#each model.company as |company|}}
  {{company-tile company=company}}
{{/each}}

{{#each model.reviews as |review|}}
  <p>{{review.rating}} - {{review.content}} - by {{review.author}}</p>
{{/each}}
